$color: #000000;
$bg-color: #000000;

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

body {
  background-color: cornsilk;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}